<div class="task-form-container">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="10"></textarea>
      <mat-error *ngIf="taskForm.get('description')?.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      {{ editing ? "Update Task" : "Add Task" }}
    </button>
  </form>
</div>
